.Button{
  border: white solid 1px;
  width:80px;
  /*display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;*/
  border-radius: 5px;
  color: white;
  background: none;
  transition: background-color 1s;
  outline: 0;
  text-align: center;
}

.signinButton:focus{
  outline: 0;
}

@media only screen and (max-width: 1000px){
  .Button{
    width: 60px;
    height: 30px;
    font-size: 75%;
  }
}


button.Button:hover{
  background-color: rgba(255, 255, 255, 1);
  color: #3498db;
  border-width: 0px;
}