.cardsContainer
{
  /*left: 5%;*/
  /*margin-top: 10%;
  padding-top: 130px;*/
  padding-left: 4.5% ;
  
  top:30px;

}

.card-appear {
  opacity: 0;
}

.card-appear.card-appear-active {
  opacity: 1;
  transition: opacity 1.5s ease;
}

.card-leave {
  opacity: 1;
}

.card-leave.card-leave-active {
  opacity: 0.01;
  transition: opacity .3s ease-in;
}

#suck{
  padding-top: 40px;
}

.cards
{
  width: 21.5%;
  margin-bottom: 10px;

  border-radius: 8px;
  background-color: rgba(239,239,239,0.1);
}
  

@media only screen and (max-width: 720px) {
  #suck{
    padding-top: 15px;
  }
  .cards{
    width: 44%;
  }
}
