/*.cards
{
  width: 20%;
  margin-bottom: 4%;

  border-radius: 8px;
  background-color: rgba(239,239,239,0.1);
}*/

body{

}


.headerAndProductBlur{
  filter: blur(25px);
  transition: all 1s ease;
}

.headerAndProduct{

}


.signInModal{
  right: 3%!important;
}

.moveDown{
  padding-top: 120px;
}
/*.card-appear {
  opacity: 0;
}

.card-appear.card-appear-active {
  opacity: 1;
  transition: opacity 1.5s ease;

}

.card-leave {
  opacity: 1;
  transition: opacity 100s linear;
}

.card-leave.card-leave-active {
  opacity: 0;
}*/

.addProduct{
  border-radius: 100%;
  border-width: 0px !important;
  width: 50px;
  height: 50px;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  text-align: center;
  margin-left: 91%;
  background-color: #3498db;
  color: white;
  position: fixed;
  top:92%;
  left:60px;
  transition: all 1s;
  opacity: 1;
  box-shadow: 2px 2px 8px grey;
}


button.addProduct:hover{
  background-color: #2980b9;
}

.collapse{
  display: none;
}


.fixed{
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.shrink{
  height: 70px;
  transition: height 1s;
  box-shadow: 0px 2px 20px grey;
}

.example-appear {
  opacity: 0;

}

.example-appear.example-appear-active {
  opacity: 1;

  transition: all 1s ease;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.3;
  transition: opacity 1s linear;
}
