/*.cards
{
  width: 20%;
  margin-bottom: 4%;

  border-radius: 8px;
  background-color: rgba(239,239,239,0.1);
}*/

body {
}

.headerAndProductBlur {
  filter: blur(25px);
  transition: all 1s ease;
}

.headerAndProduct {
}

.signInModal {
  right: 3% !important;
}

.moveDown {
  padding-top: 120px;
}
/*.card-appear {
  opacity: 0;
}

.card-appear.card-appear-active {
  opacity: 1;
  transition: opacity 1.5s ease;

}

.card-leave {
  opacity: 1;
  transition: opacity 100s linear;
}

.card-leave.card-leave-active {
  opacity: 0;
}*/

.addProduct {
  border-radius: 100%;
  border-width: 0px !important;
  width: 50px;
  height: 50px;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  text-align: center;
  background-color: #3498db;
  color: white;
  position: fixed;
  top: 92%;
  right: 2%;
  transition: all 1s;
  opacity: 1;
  box-shadow: 2px 2px 8px grey;
}

button.addProduct:hover {
  background-color: #2980b9;
}

.collapse {
  display: none;
}

.fixed {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.shrink {
  height: 70px;
  transition: height 1s;
  box-shadow: 0px 2px 20px grey;
}

.example-appear {
  opacity: 0;
}

.example-appear.example-appear-active {
  opacity: 1;

  transition: all 1s ease;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.3;
  transition: opacity 1s linear;
}

#Banner {
  height: 20em;
}
@media only screen and (min-width: 1600px) {
  #Banner {
    height: 25em;
  }
}

@media only screen and (max-width: 480px) {
  #Banner {
    height: 10em;
  }
}
.landingPageSubmitForm {
  top: 0px;
  right: 0px;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100000;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.landingPageSubmitForm iframe {
  width: 90vw;
  height: 90vh;
  border: 0;
}

.landingPageSubmitForm .closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 35px;
}

.landingPageSubmitForm .closeButton:hover {
  cursor: pointer;
}
