.product-modal-background{
  width: 100vw;
  height:100vh;
  background-color: rgba(0,0,0,0.9);
  position: fixed;
  top:0px;
  left:0px;
  z-index: 100000;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Product-outer-modal{
  border-radius: 7px;
  width: 60vw;
  position: absolute;
  left:20vw;
  top:20vh;
}

.product-modal-container{
  position: absolute;
  top:3%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 7px;
}

.product-profile{
  
  display: flex;
  flex-direction: column;
}

.product-description{
  
  display: flex;
  flex-direction: column;
}

.product-profile-picture{
  /*border: 1px black solid;*/
  flex:70;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 8%;
  padding-right: 8%;
  overflow: hidden;
  overflow: hidden;
}

.product-profile-picture img{
  width: 70%;
  height: auto;
  border-radius: 7px;
}

.product-profile-user{
  flex: 30;
  /*border:1px solid black;*/
  display: flex;
  flex-direction: row;
  /*justify-content: center;*/
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
}

.product-profile-user-desciption p{
  font-size: 18px;
  color: #3498db;
}

.product-profile-user-avatar{

}

.product-profile-user-avatar-img{

  max-width: 4vw;
}

.product-profile-user-desciption{

}

.product-description-title{
  
  /*border: 1px solid black;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 7%;
  padding-right: 7%;

}


.product-description-title-name{
  font-size: 26px;
  margin-bottom: 0 !important;
}

.product-description-title-price{
  font-size: 26px;
  color: black !important;
}

.product-description-detail{
  flex:53;
  margin-top: 0px;
  /*border: 1px solid black;*/
}

.product-description-buttons{
  flex:30;
  /*border: 1px solid black;*/
  display: flex;
  justify-content: space-between ;
  align-items: center;
}

.product-description-buttons button{
  background-color: white;
  border : solid #3498db 1px;
  border-radius: 15px;
  outline: 0px;
  width: 8vw;
}

.product-description-buttons button:hover{
  background-color: #3498db;
  border: 0px;
  color: white;
  transition: background-color 1s;
}

.product-description-buttons-contact{
  margin-left: 6%;
}

.product-description-buttons-add{
  margin-right: 6%;
}

.product-description-detail p{
  font-size: 15px;
  margin: 7%;
  margin-top: 0;
  color: #3498db;
}

.Product-outer-modal i{
  font-weight: 10;
  font-size: 2vw;
  position: absolute!important;
  top:-5%!important;
  right:-2%!important;
  border-radius: 100%;
  background-color: white;
  width: 3vw;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 480px) {
  .Product-outer-modal{
    width: 80vw;
    left: 10vw;
  }
  .product-profile-picture img {
    width: 100%;
  }
  .product-description-title-name{
  font-size: 16px;
}

.product-description-title-price{
  font-size: 16px;
}

.product-description-detail{
  font-size: 16px;
}
}
