.searchIcon{
  color: white;
  opacity: 1;
  margin-left: 30px;
}



.searchIconButton{
  background: none;
  border: 0px;
  width: 0px!important;
  height: 0px !important;
}

.search{
  height: 40px !important;
  border: white solid 1.5px ;
  background-color: transparent;
  /*margin-left: 5%;*/
  border-radius: 7px;
  /*margin-right: 50%;*/
  color: white;
  margin-left: 30px;
  width:1100px;

}

.searchIcon-enter {
  width: 0px;
}

.searchIcon-enter.searchIcon-enter-active {
  width:1100px;
  transition: width 0.5s ease;

}

.searchIcon-leave {
  width: 1100px;
}

.searchIcon-leave.searchIcon-leave-active {
  width: 0px;
  transition: width 0.5s linear;

}
