.searchIcon{
  color: white;
  opacity: 1;
  margin-left: 30px;
}



.searchIconButton{
  background: none;
  border: 0px;
  width: 0px!important;
  height: 0px !important;
}

.search{
  height: 40px !important;
  border: white solid 1px ;
  background-color: transparent;
  /*margin-left: 5%;*/
  border-radius: 7px;
  /*margin-right: 50%;*/
  color: white;
  margin-left: 30px;
  width:100%;

}

.searchIcon-enter {
  width: 100%;
}

.searchIcon-enter.searchIcon-enter-active {
  width:100%;
  transition: width 0.5s ease;

}

.searchIcon-leave {
  width: 100%;
}

.searchIcon-leave.searchIcon-leave-active {
  width: 0px;
  transition: width 0.5s linear;

}

@media only screen and (max-width: 1000px){
  .fa-2x{
  font-size: 1.5em !important;
}
.search{
  height: 30px !important;
}
}

.searchIconButton:focus {
  outline: 0;
}

