.searchBox{
  width: 85%;
  height: 43px;
  background-color: #efefef;
  border-width: 0px;
  border-radius: 6px !important;
}



.searchBar{
  padding-top: 0.3%;
  border-bottom: solid 1px #e1e8ed;
  padding-bottom: 50px;
  /*position: absolute;*/
  /*top: 10;*/
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: rgba(255,255,255,1);
}

input:focus {
    outline:none;
}